.dotted{
    /* border-style: dotted; */
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-width: 5px;
    border-color: brown;
}
.dashed{
    /* border-style: dashed; */

    /* 
        SHORT
        1.border-swidth
        2.border-style (required ต้องมี)
        3.border-coler
    */
    border: 5px dashed red;
}
.solid{
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border-radius: 20px;
}
.double{
    border-style: double;
}
.groove{
    border-style: groove;
}
.ridge{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.mix{
    border-style: dotted dashed solid double;
}