p{
    display: inline;
    outline: 1px solid red;
}
span{
    display: block;
    outline: 1px solid red;
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    display: none;
    /* visibility: hidden; */
}