/* Parent Element */
.container{
    max-width: 960px;
    margin: 0 auto;
    background-color: burlywood;
    /* padding-bottom: 2000px; */
    position: relative;
}

/* Chile Element */
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* position: static; */
    /* position: relative; */
    /* position: fixed; */
    /* position: absolute; */
    position: sticky;

    top: 0;
    /* top: 20px;
    left: 20px; */
}